.App {
  text-align: center;
  margin: 2rem 40rem;
}

.contactDetails {
  margin-top: -2rem;
  display: flex;
  justify-content: space-between;
}

hr {
  margin-top: -2%;
}

.custom-button {
  display: flex;
  justify-content: space-between;
}



/* Optionally add hover effect */
.custom-button:hover {
  color: #ffcc00;          /* Change text color on hover */
}